{% extends 'main/pattern.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'payments' %}">Платежи</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'guests' %}">Список гостей</a>
  </li>
</ul>

{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <th>ID платежа</th>
        <th>ID номера</th>
        <th>Дата заезда</th>
        <th>Дата выезда</th>
        <th>Стоимость проживания</th>
      </thead>
      {% for payment in payments %}
      <tr>
        <td>{{ payment.id_payment}}</td>
        <td>{{ payment.id_room}}</td>
        <td>{{ payment.check_in_date}}</td>
        <td>{{ payment.check_out_date }}</td>
        <td>{{ payment.payment_accommodation }}</td>
        <td><a href="payment_edit/{{payment.id_payment}}">Изменить</a></td>
        <td><a href="payment_delete/{{payment.id_payment}}">Удалить</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
